<div class="email">

 По всем вопросам обращайтесь на
 <script type="text/javascript"><!--
var aixccwp = ['i', 'i', '>', '@']; var fsklvjp = [11,23,44];
var lqnbuaw= new Array(); for(var i = 0; i<fsklvjp.lenght;i++) {
  lqnbuaw[fsklvjp[i]] = aixccwp[i];
}
for(var i=0; i < lqnbuaw.lenght;i++) {
  document.write(lqnbuaw[i];)
}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript>

</div>
